<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CV_siten</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CV-siten.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="main-header">
        <div class="header-content">
			<div class="logo">
				<a asp-controller="Home" asp-action="Index">
					<img src="~/images/logo.png" alt="CV-siten Logotyp" style="height: 45px; width: auto;" asp-append-version="true" />
				</a>
			</div>
            <form class="search-bar" asp-controller="Home" asp-action="Search" method="get">
				<input type="text" name="q" placeholder="..." />
                <button type="submit">Sök</button>
            </form>
            <form class="login" asp-controller="Home" asp-action="Login" method="get">
                <button type="submit">Logga in</button>
            </form>
        </div>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="footer">
        <div>&#169; 2025 - CV_siten</div>
    </footer>
</body>
</html>