.vs/CV-siten/CopilotIndices/17.14.1431.25910/CodeChunks.db
.vs/CV-siten/CopilotIndices/17.14.1431.25910/CodeChunks.db-shm
.vs/CV-siten/CopilotIndices/17.14.1431.25910/CodeChunks.db-wal
.vs/CV-siten/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
.vs/CV-siten/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-shm
.vs/CV-siten/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-wal
.vs/CV-siten/FileContentIndex/4e541bed-3bf6-40ea-ae02-d02dca8ef6a1.vsidx
.vs/CV-siten/FileContentIndex/b7b89997-1243-4860-bea4-22f88432d626.vsidx
.vs/slnx.sqlite
obj/Debug/net8.0/CV-siten.AssemblyInfo.cs
obj/Debug/net8.0/CV-siten.AssemblyInfoInputs.cache
obj/Debug/net8.0/CV-siten.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/CV-siten.GlobalUsings.g.cs
.vs/slnx.sqlite
obj/Debug/net8.0/CV-siten.AssemblyInfo.cs
obj/Debug/net8.0/CV-siten.AssemblyInfoInputs.cache
obj/Debug/net8.0/CV-siten.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/CV-siten.GlobalUsings.g.cs
obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Release/net8.0/CV-siten.AssemblyInfo.cs
obj/Release/net8.0/CV-siten.AssemblyInfoInputs.cache
obj/Release/net8.0/CV-siten.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0/CV-siten.GlobalUsings.g.cs
obj/Release/net8.0/CV-siten.RazorAssemblyInfo.cache
obj/Release/net8.0/CV-siten.RazorAssemblyInfo.cs
.vs/CV-siten/FileContentIndex/67454c45-3b23-444b-9973-23544ff760f8.vsidx
.vs/slnx.sqlite
obj/Debug/net8.0/CV-siten.AssemblyInfo.cs
obj/Debug/net8.0/CV-siten.AssemblyInfoInputs.cache
obj/Debug/net8.0/CV-siten.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/CV-siten.GlobalUsings.g.cs
.vs/slnx.sqlite
